<!-- Faq Section -->
<section id="faq" class="faq section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>F.A.Q</h2>
        <p>Foire Aux Questions</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            <div class="col-12" data-aos="fade-up" data-aos-delay="100">

                <div class="faq-container">

                    {% for faq in faqs %}
                        <div class="faq-item">
                            <h3>{{faq.question}}</h3>
                            <div class="faq-content">
                                <p>{{faq.answer|raw}}</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->
                    {% endfor %}

                </div>

            </div>

        </div>

    </div>

</section><!-- /Faq Section -->