{% extends 'base.html.twig' %}

{% block title %}Restore Your Mobile{% endblock %}

{% block body %}

<main class="main">

    {% include "main/_hero.html.twig" %}

    {% include "main/_about.html.twig" %}

    {% include "main/_values.html.twig" %}

    {# {% include "main/_stats.html.twig" %} #}

    {# {% include "main/_features.html.twig" %} #}

    {% include "main/_altFeatures.html.twig" %}

    {% include "main/_services.html.twig" %}

    {# {% include "main/_pricing.html.twig" %} #}

    {% include "main/_faq.html.twig" %}

    {# {% include "main/_portfolio.html.twig" %} #}
    
    {# {% include "main/_testimonials.html.twig" %} #}

    {# {% include "main/_team.html.twig" %} #}

    {# {% include "main/_clients.html.twig" %} #}

    {# {% include "main/_recentPosts.html.twig" %} #}

    {% include "main/_contact.html.twig" %}

</main>

{% endblock %}
