{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Restore Your Mobile' %}

{% block page_content %}
<div>
</div><hr>
<div class="container text-center p-5">
    <h1>Bonjour {{ user.username }} !</h1>
</div>
{% endblock %}