{% extends 'base.html.twig' %}

{% block body %}
    <main class="main pt-5">
        <section class="section mt-5">
            <div class="container">
                <h1 class="text-center">Erreur 500 - Erreur serveur</h>
            </div>
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4"><img src="{{asset('assets/img/error/500-amico.png')}}" class="img-fluid" alt=""></div>
                    <div class="col-lg-4"></div>
                </div>
            </div>     
        </section>
    </main>
{% endblock %}