{% extends 'email/base.html.twig' %}

{% block body %}
<tr>
    <td align="center" style="font-size:0px;padding:10px 25px;padding-bottom:40px;word-break:break-word;">

        <div style="font-family:'Helvetica Neue',Arial,sans-serif;font-size:28px;font-weight:bold;line-height:1;text-align:center;color:#066EC7;">
            Demande de contact
        </div>

    </td>
</tr>

<tr>
    <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">

        <div style="font-family:'Helvetica Neue',Arial,sans-serif;font-size:16px;line-height:22px;text-align:left;color:#555;">
            <p>Bonjour {{name}},</p>
            <p>Je vous confirme l'envoi de votre demande via le formulaire de contact.</p>
            <p>Pour rappel, le contenu de votre message est le suivant :</p>
            <p>Sujet : <em>{{ object }}</em></p>
            <p><em>{{ message|nl2br}}</em></p>
            <p>Je vous répondrais dans les plus brefs délais.</p>
        </div>

    </td>
</tr>
{% endblock %}