{% extends 'email/base.html.twig' %}

{% block body %}

<tr>
    <td align="center" style="font-size:0px;padding:10px 25px;padding-bottom:40px;word-break:break-word;">

        <div style="font-family:'Helvetica Neue',Arial,sans-serif;font-size:28px;font-weight:bold;line-height:1;text-align:center;color:#066EC7;">
            Nouvelle demande de contact</em>
        </div>

    </td>
</tr>

<tr>
    <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">

        <div style="font-family:'Helvetica Neue',Arial,sans-serif;font-size:16px;line-height:22px;text-align:left;color:#555;">
            <p>Nouvelle demande de contact de <em>{{ name }}</em></p>
            <p>Email : <em>{{ mail }}</em></p>
            <p>Sujet de la demande : <em>{{ object }}</em></p>
            <p>Contenu du message : </p>
            <p><em>{{ message|nl2br }}</em></p>
        </div>

    </td>
</tr>

{% endblock %}